<f:layout name="Default" />

<f:section name="Title">A list of tweets</f:section>

<f:section name="Content">
    <f:if condition="{tweets}">
        <f:then>
            <ul>
                <f:for each="{tweets}" as="tweet">
                    <li>
                        <f:link.action action="show" arguments="{tweet: tweet}">{tweet.name}</f:link.action>
                        <f:link.action action="edit" arguments="{tweet: tweet}">Edit</f:link.action>
                        <f:form action="delete" arguments="{tweet: tweet}">
                            <f:form.submit value="Delete" />
                        </f:form>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No tweets created yet.</p>
        </f:else>
    </f:if>
    <p><f:link.action action="new">Create a new tweet</f:link.action></p>
</f:section>