<f:layout name="Default" />

<f:section name="Title">Welcome {activeUser.username}</f:section>

<f:section name="Content">
<f:security.ifAuthenticated>
  <f:link.action action="logout" controller="Login">Logout</f:link.action>
  <div class="new-tweet">
      <f:form action="new" controller="Tweet">
          <f:form.textarea id="tweetContent" name="tweetContent" />
          <f:form.submit value="Tweet" />
      </f:form>
  </div>
</f:security.ifAuthenticated>
    <f:if condition="{users}">
        <f:then>
            <ul>
                <f:for each="{users}" as="user">
                    <f:if condition="{user.username} != {username}">
                        <li>
                            <f:link.action action="follow" arguments="{user: user}">Follow</f:link.action>
                            <f:link.action action="show" arguments="{user: user}">{user.username}</f:link.action>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No users created yet.</p>
        </f:else>
    </f:if>
</f:section>
